.signup-header {
  align-items: center;
  display: flex;
  height: 200px;
  justify-content: center;
}

.section-form {
  margin-bottom: 115px;
}

.register-school-container, .register-school-primary-contact-container,
.register-school-group-creation-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-header {
  color: $main-dark-gray;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 30px;
}

.signup-form-input-wrapper {
  display: flex;
  flex-direction: column;
  margin: 15px 0;

  .signup-form-input {
    border: 0;
    color: $main-dark-gray;
    font-size: 20px;
    height: 35px;
    outline: none;
    padding-left: 10px;
    width: 100%;

    @include placeholder-color(lighten($main-light-gray, 15%));
  }

  .signup-form-label {
    color: $main-light-gray;
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.organization-token {
  position: relative;
}

.help-organization-token {
  cursor: pointer;
  font-size: 18px;
  vertical-align: sub;
}

.tooltip-organization-token {
  background-color: $white;
  font-size: 14px;
  display: none;
  left: 280px;
  position: absolute;
  padding: 5px;
  width: 200px;

  &:before {
    background-color: $white;
    content: '';
    display: inline-block;
    height: 10px;
    left: -5px;
    position: absolute;
    top: 5px;
    transform: rotate(45deg);
    width: 10px;
  }
}

.section-navigation {
  align-self: center;
  background-color: $white;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  position: fixed;
  width: 100%;

  .section-navigation-btn {
    border: 1px solid;
    color: $main-white;
    cursor: pointer;
    font-size: 16px;
    height: 45px;
    width: 90px;

    &.next-btn, &.continue-btn {
      background-color: $main-light-blue;
      border-color: $main-light-blue;

      &:hover {
        background-color: lighten($main-light-blue, 0.9);
      }
    }

    &.continue-btn {
      padding: 0 20px;
      width: auto;
    }

    &.previous-btn {
      &.disabled {
        background-color: $main-background-light-gray;
        border-color: $main-background-light-gray;
      }
    }
  }
}

.register-school-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group-creation {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-new-classroom-button {
  border: 1px solid $main-dark-blue;
  background-color: $main-dark-blue;
  color: $main-white;
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  padding: 0 15px;
  width: auto;
}

.admin-form-btns-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 300px;
}

.signup-list-groups {
  width: 600px;
}

.signup-list-groups-header {
  align-items: center;
  background-color: $secondary-dark-blue;
  color: $main-white;
  display: flex;
  font-size: 16px;
  height: 35px;
  justify-content: space-around;
  margin-top: 20px;
  position: relative;
  text-transform: uppercase;

  span {
    flex: 1;
    padding-left: 10px;
  }
}

.signup-list-groups-item {
  align-items: center;
  background-color: $white;
  border-bottom: 1px solid lighten($main-light-gray, .8);
  color: $secondary-dark-gray;
  display: flex;
  font-size: 16px;
  height: 45px;
  padding-left: 10px;
  position: relative;
  transition: 250ms;

  span {
    flex: 1;
  }

  &:hover {
    background-color: lighten($main-background-light-gray, 10%);
    transition: 250ms;
  }

  .group-item-delete {
    padding-right: 10px;
  }
}

.group-item-delete-icon {
  color: $error-color;
  cursor: pointer;
}

.error-container {
  background-color: $error-color;
  color: $white;
  margin-bottom: 10px;
  padding: 10px;
}

.accept-terms {
  margin: 10px 0;

  &.not-checked {
    .accept-terms-label {
      color: $error-color;
      font-weight: bold;

      a {
        color: $error-color;
        &:hover, &:visited {
          color: $error-color;
        }
      }
    }
  }
}