.home-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 10% 10%;
  width: 100%;

}
.stats-container-item {
  align-items: center;
  border: 1px solid black;
  flex: 1;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.stats-container-item-expand {
  cursor: pointer;
}
