$main-white: #f0fafd;
$secondary-white: #b0bec5;
$main-light-blue: #00bfe8;
$main-dark-blue: #1b748f;
$secondary-dark-blue: #2f3b4c;
$palette-third-blue: #555f72;
$main-light-gray: #babec3;
$main-dark-gray: #9da6a8;
$secondary-dark-gray: #787e86;
$main-background-light-gray: #eceef2;
$validation-green: #20bb51;
$validation-green-button-border: #25904f;
