@import 'global';
@import 'placeholders';

.login-page-container, .confirm-page-container, .reset-password-page-container {
  @extend .vertical-centered-layout;

  .login-form {
    width: 50%;
  }

  .btn-login-submit {
    background-color: $validation-green;
    border: 1px solid $validation-green-button-border;
    color: $main-white;
    cursor: pointer;
    font-size: 22px;
    height: 65px;
    text-transform: uppercase;
    width: 100%;
  }

  .checkbox {
    margin-bottom: 15px;
  }

  .form-input {
    height: 65px;
  }

  .input-with-picture {
    align-items: center;
    border: 1px solid $main-light-gray;
    display: flex;
    margin: 20px 0;

    &:focus {
      border: 1px solid $main-dark-blue;
    }

    input {
      border: 0;
      color: $main-dark-gray;
      font-size: 20px;
      outline: none;
      padding-left: 10px;
      width: 100%;
      @include placeholder-color(lighten($main-light-gray, 15%));
    }

    .form-input-icon {
      align-items: center;
      background-color: #f3f2f2;
      border-left: 1px solid $main-light-gray;
      display: flex;
      height: 65px;
      justify-content: center;
      width: 15%;
    }
  }

  .logo-container {
    padding-bottom: 75px;
    padding-top: 75px;
  }
}

.show-hint-confirmation {
  background-color: lighten($main-light-gray, 25%);
  color: $main-dark-blue;
  font-size: 18px;
  padding: 20px;
}

.reset-password-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.cta-button {
  background-color: $main-light-blue;
  border: 1px solid $main-light-blue;
  color: $main-white;
  cursor: pointer;
  font-size: 16px;
  height: 45px;
  margin: 15px 0;

  &:hover {
    background-color: lighten($main-light-blue, 0.9);
  }
}

.static-form-input {
  border: 0;
  color: $main-dark-gray;
  font-size: 20px;
  height: 35px;
  margin: 10px 0;
  outline: none;
  padding-left: 10px;
  width: 250px;

  @include placeholder-color(lighten($main-light-gray, 15%));
}

.reset-password-title {
  color: $main-dark-blue;
  font-size: 20px;
  margin: 15px 0;
}

.demo-explanation {
  background-color: $main-white;
  padding: 20px;
}

.demo-explanation-content {
  font-weight: bold;
}

.demo-explanation-credentials {
  padding: 5px;
}
