@mixin placeholder-color($color) {
  ::-webkit-input-placeholder {
    color: $main-dark-gray;
  }

  ::-moz-placeholder {
    color: $main-dark-gray;
  }

  :-ms-input-placeholder {
    color: $main-dark-gray;
  }
  
  :-moz-placeholder {
    color: $main-dark-gray;
  }
}
