@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Karla);
@import 'global';
@import 'custom-ui';
@import 'register';
@import 'login';
@import 'sidebar';

body {
  background-color: $main-background-light-gray;
  font-family: 'Karla', sans-serif;
  margin: 0;
}

.root-component {
  display: flex;
  height: 100vh;
  width: 100%;

  .interactive-panel {
    border: 1px solid gray;
    flex: 12;
  }
}

.assignment-options {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.popover-response-options {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 400px;
  padding: 20px;
}

.write-response-container {
  display: flex;
  flex-direction: column;
}

.markdown-editor-wrapper {
  margin: 10px;
}

.response-actions {
  display: flex;
  margin: 10px;

  .save-response-button {
    flex: 1;
  }
}

.home-component-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-around;
  width: 100%;
}

.item-progression {
  border: 1px solid black;
  min-width: 45%;
}

.assignment-review-item {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.assignment-review-item-header {
  align-items: center;
  display: flex;
  justify-content: space-around;

  div {
    flex: 1;
  }
}

.assignment-review-student-section, .assignment-review-book-section,
.assignment-review-response-section, .assignment-review-review-section {
  display: flex;
  flex: 1;
}
