@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Karla);
@import 'media';
@import 'global';
@import 'mixins';
@import 'custom-ui/checkboxes';
@import 'custom-ui/inputs';
@import 'custom-ui/alerts';
@import 'custom-ui/select';
@import 'custom-ui/radio-buttons';
@import 'register';
@import 'login';
@import 'sidebar';

@import 'sections/book-search';
@import 'sections/student-search';
@import 'sections/add-book';
@import 'sections/my-books';
@import 'sections/write-response';
@import 'sections/url-response';
@import 'sections/upload-images-response';
@import 'sections/reviews-dashboard';
@import 'sections/review-response-student';
@import 'sections/update-response';
@import 'sections/home-student';
@import 'sections/home-teacher';
@import 'sections/profile';

@import 'signup/global';
@import 'admin/global';
@import 'admin/dashboard';
@import 'admin/modals';

body {
  background-color: $main-background-light-gray;
  font-family: 'Karla', sans-serif;
  margin: 0;
}

.root-component {
  display: flex;
  min-height: 100vh;
  width: 100%;

  .interactive-panel {
    display: flex;
    flex: 12;
  }
}

.assignment-options {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
