@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Karla);
@import 'global';
@import 'mixins';
@import 'custom-ui/checkboxes';
@import 'custom-ui/inputs';
@import 'register';
@import 'login';
@import 'sidebar';

@import 'sections/book-search';
@import 'sections/add-book';
@import 'sections/my-books';
@import 'sections/write-response';
@import 'sections/url-response';
@import 'sections/upload-images-response';
@import 'sections/reviews-dashboard';

body {
  background-color: $main-background-light-gray;
  font-family: 'Karla', sans-serif;
  margin: 0;
}

.root-component {
  display: flex;
  min-height: 100vh;
  width: 100%;

  .interactive-panel {
    flex: 12;
  }
}

.assignment-options {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}

.home-component-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: space-around;
  width: 100%;
}

.item-progression {
  border: 1px solid black;
  min-width: 45%;
}
