.home-component-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.student-updates {
  background-color: $main-white;
  box-shadow: 1px 1px 1px $card-shadow-color;
  margin-top: 20px;
}

.student-updates-title {
  background-color: $main-orange;
  color: $main-white;
  font-size: 20px;
  padding: 15px 10px;
  text-transform: uppercase;
}

.student-updates-content {
  padding: 30px;
}

.student-updates-more {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.student-updates-more-btn {
  background-color: $main-orange;
  border: 1px solid darken($main-orange, 5%);
  color: $white;
  cursor: pointer;
  outline: none;
  padding: 15px;

  &:disabled {
    background-color: lighten($main-light-gray, 10%);
    border: 0;
    cursor: not-allowed;
  }
}

.student-update-row {
  align-items: center;
  border-bottom: 1px solid lighten($main-light-gray, 20%);
  display: flex;
  font-size: 14px;
  margin: 10px 0;
  padding: 10px 0;
}

.student-update-row-content {
  margin-right: 10px;
}

.student-update-row-readable-time {
  color: $main-light-gray;
}

.student-update-avatar {
  align-items: center;
  background-color: $main-light-blue;
  border-radius: 50%;
  color: $main-white;
  display: flex;
  height: 30px;
  justify-content: center;
  margin-right: 20px;
  text-transform: uppercase;
  width: 30px;

  a {
    color: $main-white;
    text-decoration: none;

    &:hover {
      color: $main-white;
      text-decoration: none;
    }

    &:visited {
      color: $main-white;
      text-decoration: none;
    }
  }
}
