.home-component-container {
  display: flex;
  flex: 1;
}

.home-component-left-section {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.home-component-right-section {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.home-component-pie-card {
  background-color: $white;
  box-shadow: 1px 1px 1px $card-shadow-color;
  display: flex;
  flex-direction: column;
  height: 40%;
}

.home-component-pie-chart-header {
  color: $secondary-dark-blue;
  font-size: 25px;
  margin: 15px;
}

.home-component-interactive-chart {
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.home-component-interactive-chart-legend {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.legend-row {
  align-items: center;
  display: flex;
  margin: 5px 10px;
}

.legend-caption {
  color: $legend-caption-color;
  font-size: 16px;
}

.legend-square {
  height: 14px;
  margin-right: 7px;
  width: 14px;

  &.remaining {
    background-color: $main-light-gray;
  }

  &.num-pages-read {
    background-color: $main-yellow;
  }

  &.num-books-read {
    background-color: $main-purple;
  }
}

.stats-card-row {
  align-items: center;
  display: flex;
  height: 20%;
  justify-content: center;
  width: 100%;
}

.home-component-stats-card {
  align-items: center;
  background-color: $white;
  box-shadow: 1px 1px 1px $card-shadow-color;
  display: flex;
  flex: 1;
  height: 100px;
  justify-content: center;
  margin: 20px 10px;
}

.home-component-stats-card-left {
  align-items: center;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;

  i {
    color: $white;
    font-size: 40px;
  }

  &.books-read {
    background-color: $main-orange;
  }

  &.pages-read {
    background-color: $card-blue;
  }
}

.home-component-stats-card-right {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;

  span {
    margin: 0 auto;
  }

  &.books-read {
    .home-component-stats-card-title {
      color: $main-orange;
    }
  }

  &.pages-read {
    .home-component-stats-card-title {
      color: $card-blue;
    }
  }

  .home-component-stats-card-title {
    font-size: 20px;
    text-transform: uppercase;
  }
}

.latest-updates {
  background-color: $white;
  box-shadow: 1px 1px 1px $card-shadow-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
}

.latest-updates-title {
  color: $main-purple;
  font-size: 20px;
  text-transform: uppercase;
}

.yearly-objective {
  align-items: center;
  background-color: $white;
  box-shadow: 1px 1px 1px $card-shadow-color;
  display: flex;
  justify-content: center;
  margin: 25px 0;
  padding: 15px;

  img {
    height: 100px;
    width: 100px;
  }
}

.description-objective-title {
  color: $main-orange;
  font-size: 20px;
  text-transform: uppercase;
}

.description-objective {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.latest-updates-title {
  margin-bottom: 15px;
}

.update-row {
  border-bottom: 1px solid lighten($main-light-gray, 20%);
  font-size: 14px;
  margin: 10px 0;
  padding: 10px 0;
}

.update-row-content {
  margin-right: 10px;
}

.update-row-readable-time {
  color: $main-light-gray;
}

.latest-updates-more {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.latest-updates-more-btn {
  background-color: $main-purple;
  border: 1px solid darken($main-purple, 5%);
  color: $white;
  cursor: pointer;
  outline: none;

  &:disabled {
    background-color: lighten($main-light-gray, 10%);
    border: 0;
  }
}
