.search-student-container {
  align-items: center;
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: 75px;
  justify-content: center;
  width: 100%;
}

.search-student-input-btn {
  display: flex;
  flex: 1;
  width: 60%;
}

.search-student-input {
  border: 1px solid #ccc;
  color: $secondary-dark-gray;
  flex: 3;
  font-size: 18px;
  height: 45px;
  margin: 10px;
  padding-left: 5px;

  @include placeholder-color($main-light-gray);
}

.search-student-suggestions-container {
  display: flex;
  flex-direction: column;
}

.search-hint {
  align-items: center;
  background-color: lighten($main-light-gray, 10%);
  color: $main-white;
  display: flex;
  font-size: 20px;
  justify-content: center;
  margin: 10px;
  padding: 20px;
}
